.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url('../img/bg_third_sneaker.jpg') center (center/cover) no-repeat;
    &__descr {
        color: #FFF;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px; 
    }
}