@media(max-width: 1200px) {
    .carousel {
        .tns-item {
            img {
                width: 65%;
            }
        }
        .prev {
            left: 20px;
        }
        .next {
            right: 20px;
        }
    }
}

@media(max-width: 991px) {
    .promo {
        padding: 21px 15px 93px 15px;
    }
    .benefits {
        &__block {
            padding: 0 10px;
        }
    }
    .consultation {
        padding-left: 25px;
        .title_left {
            font-size: 30px;
            line-height: 45px;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 65%;
            }
        }
        .prev, .next {
            display: none;
        }
    }
    .catalog {
        &__tab {
            width: 200px;
            font-size: 17px;
        }
    }
}

@media(max-width: 767px) {
    .title {
        font-size: 28px;
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .benefits {
        &__wrapper {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__block {
            padding-top: 20px;
        }
    }
    .consultation {
        padding-left: 25px;
        .title_left {
            font-size: 24px;
            line-height: 40px;
        }
        &__descr {
            font-size: 17px;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            width: 150px;
            height: 42px;
            font-size: 14px;
            line-height: 8px;
            border: 1px solid #d0d0d0;
        }
    }
}

@media(max-width: 575px) {
    .title {
        font-size: 23px;
    }
    .button {
        &_call {
            width: 120px;
            height: 30px;
            font-size: 11px;
        }
        &_main {
            width: 210px;
            height: 40px;
            font-size: 14px;
        }
    }
    .header {
        &__logo {
            max-width: 250px;
            margin-right: 15px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            width: 50%;
        }
        &__phone {
            font-size: 13px;
        }
    }
    .promo {
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 17px;
            text-align: center;
        }
        &__icons {
            width: 100%;
            justify-content: space-evenly;
        }
        &__link {
            font-size: 14px;
        }
    }
    .consultation {
        padding: 80px 0 0 15px;
        .title_left {
            line-height: 35px;
            font-size: 20px;
            text-align: left;
        }
        &__descr {
            font-size: 15px;
            opacity: 0.8;
        }
        .feed-form {
            width: 290px;
            .button_submit {
                width: 100%;
                height: 58px;
                font-size: 16px;
            }
        }
    }
    .carousel {
        padding: 50px 0;
        .tns-item {
            img {
                width: 80%;
            }
        }
        .tns-nav {
            bottom: -24px;
            button {
                width: 10px;
                height: 10px;
                margin: 3px;
            }
        }
    }
    .catalog {
        &__tabs {
            flex-wrap: wrap;
        }
        &__tab {
            width: 137px;
            height: 40px;
            font-size: 13px;
            line-height: 6px;
            margin-bottom: 10px;
        }
        &__item {
            width: 295px;
        }
    }
}