@media(max-width: 991px) {
    .promo {
        padding: 21px 15px 93px 15px;
    }
    .benefits {
        &__block {
            padding: 0 10px;
        }
    }
    .consultation {
        padding-left: 25px;
        .title_left {
            font-size: 30px;
            line-height: 45px;
        }
    }
}

@media(max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .benefits {
        &__wrapper {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__block {
            padding-top: 20px;
        }
    }
    .consultation {
        padding-left: 25px;
        .title_left {
            font-size: 24px;
            line-height: 40px;
        }
        &__descr {
            font-size: 17px;
        }
    }
}

@media(max-width: 575px) {
    .header {
        &__logo {
            max-width: 250px;
            margin-right: 15px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            width: 50%;
        }
        &__phone {
            font-size: 13px;
        }
    }
    .promo {
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 17px;
            text-align: center;
        }
        &__icons {
            width: 100%;
            justify-content: space-evenly;
        }
        &__link {
            font-size: 14px;
        }
    }
    .button {
        width: 120px;
        height: 30px;
        font-size: 11px;
        &_main {
            width: 210px;
            height: 40px;
            font-size: 14px;
        }
    }
    .benefits {
        &__header {
            font-size: 24px;
        }
    }
    .consultation {
        padding: 80px 0 0 15px;
        .title_left {
            line-height: 35px;
            font-size: 20px;
            text-align: left;
        }
        &__descr {
            font-size: 15px;
            opacity: 0.8;
        }
        .feed-form {
            width: 290px;
            .button_submit {
                width: 100%;
                height: 58px;
                font-size: 16px;
            }
        }
    }
}